* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 1rem 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.content {
  margin-top: 40px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 100px;
  height: 50px;
}

.menu {
  align-items: center;
  display: flex;
  position: relative;
}

.menu ul {
  display: flex;
  gap: 20px;
  position: relative;
}

.menu ul li {
  list-style: none;
  position: relative;
}

.menu ul li .sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #333;
  padding: 25px 10px;
}

.menu ul li.active .sub-menu {
  display: block;
}

.main-menu li a {
  color: #fff;
  text-decoration: none;
}

.main-menu li a:hover {
  color: darkolivegreen;
}


.dropdown:hover .sub-menu {
  display: block;
  width: 150px;
}


@media (max-width: 768px) {
  .arrow {
    display: inline-block;
  }

  header {
    background-color: white;
  }

  .menu ul {
    display: none;
    flex-direction: column;
    position: absolute;
  }

  .sub-menu li::before {
    content: "- ";
  }

  .main-menu {
    top: 50px;
    padding: 0 10px;
  }

  .menu ul li .sub-menu {
    padding: 15px 10px;
  }

  .menu ul li:hover .sub-menu {
    position: static;
  }

  .sub-menu {
    display: none;
  }

  .arrow {
    display: none;
    margin-left: auto;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    position: absolute;
    right: 10px;
  }

  .drop {
    transform: rotate(45deg);
  }

  .collapse {
    transform: rotate(-135deg);
  }

  .menu.active {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
  }

  .menu.active ul {
    display: flex;
    width: 100%;
  }

  .container {
    padding: 0 0.5rem;
  }
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger.active {
  position: absolute;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: #333;
  display: block;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 7px);
  background-color: white;
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
  background-color: white;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
    justify-content: center;
  }
}
